<ion-view view-title="CONFIGURE SU APLICACIÓN">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Elija dia</div>
      <div class="item item-body">
        <div>

         <label class="item item-radio">
    <input type="radio" name="group" ng-model="isChecked" ng-click="uno()">
    <div class="item-content">
      Un día
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="dos()">
    <div class="item-content">
      Dos días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="tres()">
    <div class="item-content">
      Tres Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
      <label class="item item-radio">
    <input type="radio" name="group" ng-click="cuatro()">
    <div class="item-content">
      Cuatro Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>  <label class="item item-radio">
    <input type="radio" name="group" ng-click="cinco()">
    <div class="item-content">
      Cinco Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>  <label class="item item-radio">
    <input type="radio" name="group" ng-click="seis()">
    <div class="item-content">
      Seis Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>  <label class="item item-radio">
    <input type="radio" name="group" ng-click="siete()">
    <div class="item-content">
      Siete Días
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Seleccione medicion de temperatura:</div>
      <div class="item item-body">
        <div>
          <div class="list">

 <label class="item item-radio">
    <input type="radio" name="group" ng-model="isChecked" ng-click="celcius()">
    <div class="item-content">
      Celcius
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="kelvin()">
    <div class="item-content">
      Kelvin
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="fahrenheit()">
    <div class="item-content">
      Fahrenheit
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>

</div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Selecione la ciudad</div>
      <div class="item item-body">
        <div>
            <label class="item item-radio">
    <input type="radio" name="group" ng-model="isChecked" ng-click="monterrey()">
    <div class="item-content">
      Monterrey
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="tokio()">
    <div class="item-content">
      Tokyo
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
    <input type="radio" name="group" ng-click="miami()">
    <div class="item-content">
      Miami
    </div>
    <i class="radio-icon ion-checkmark"></i>
    </label>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
